*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.bottom-nav{
  display: flex;
  width:100%;
  position: fixed;
  bottom: 0px;
  background: white;
  justify-content: space-around;
}
.bottom-nav a{
  text-decoration: none;
  color:rgb(105, 83, 83);

}
.bottom-nav >div{
  padding: 10px;
  font-size: 12px;
}
.search-container{
  background: red;
  padding: 20px;
}
.search{
    display: flex;
    border-radius: 4px;
    background: white;
}
.search .icon{
  top: 7px;
  left:7px;
  position: relative;
}
.search input{
  height: 32px;
  width: 100%;
  margin-left:10px; 
  font-size:15px ;
  color:rgba(0,0,0,.6);
  outline: none;
}
.main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main .card{
  margin: 10px auto;
  box-sizing: border-box;
  width: 48%;
  height: 129px;
  border: 1px solid #fff2f2;
  
}
.title{
  font-size: 20px;
  color: #ff0200;
  margin: 20px;
}