body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.listData {
  border: 1px solid #ccc;
  margin: 5px;
}
.list-container {
  height: 300px;
  margin: 20px auto;
  overflow: auto;
}
.title {
  border: 1px solid red;
  width: 100px;
  height: 20px;
}
input[type="button"] {
  background: red;
}
.block {
  width: 50px;
  position: absolute;
  height: 50px;
  border: 1px solid red;
  left: 0px;
}
